<!DOCTYPE html>
<body>
    <div>
        <label id="randomnumbermessage">
            @Html.Raw(@ViewBag.Message)
        </label>
        <br />
        <form action="/RandomNum" method="Post">
            <button>GO</button>
        </form>
        <br />
        <form action="/RandomNum" method="Get">
            <button>Reset</button>
        </form>
        <form action="/" method="Get">
            <button>Return</button>
        </form>
        <br />
    </div>
</body>
